*{
    box-sizing: border-box;
}

body{
    display: grid; 
    
    
}
.one{
    height: 400px;
    /* width: 100%; */
    background-color: lightcoral;
    background-image: url(/Cuties/cat\ on\ couch.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color:rgb(255, 246, 234);
   /* text-align: center; */
   align-items: center;
}
.shop{
    position: relative;
    left: 20px;
    font-style: oblique;
    font-size: 22px;
}
.friends{
    font-size: 80px;
    position: relative;
    text-align: center;
}
.guide{
    text-align: center;
    padding-top: 0px;
    position: relative;
    top:-50px;
    font-size: 18px;
    font-weight: 100;
}
.two{
    display: flex;
    height: 400px;

}
.pic1{
    /* width:; */
    height: 300px;
}
.green{
    height: 500px;
    /* width: 400px */
}
.text1{

}
.textbox{
   
  border-radius: 15px;
  /* background-color: aqua; */
  margin-top: 45px;
  margin-left: 30px;
  margin-right: 45px;

}
.line1{
    width: 60px;
    height: 4px;
    background-color: green;
    position: relative;
    top:20px;
    border-radius: 2px;

}
.about{
    text-align: center;
    /* display: inline; */
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    position: relative;
    top:-10px;
    right:60px
}
.breeds{
    text-align: left;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;

}
.lorem1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 350;
}
.checkbox1{
    border: 3px solid green;
    width: 120px;
    height: 40px;
    align-items: center;
    text-align: center;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-size: 14px;
    font-weight: 100;

}
.more{
    position: relative;
    top:-10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;

}
